.card-flex-parent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 30vh;
  align-items: center;
  justify-content: center;
}
.scene {
  /*display: inline-block;*/
  width: 140px;
  height: 210px;
/*   border: 1px solid #CCC;*/
  margin: 40px 12px;
  perspective: 600px;
}

.card {
 /*position: relative;*/
  /*width: 210px;
  height: 315px;*/
 /* width: 100px;
  height: 315px;*/
  width: 140px;
  height: 210px;
 /* cursor: pointer;*/
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  border: 4px solid #000;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
 /* line-height: 260px;*/
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  /*background: crimson;*/
}

.card__face--back {
  background: slateblue;
  transform: rotateY(180deg);
  /*top:20px;*/
}


.image{
  width: 140px;
  height: 210px;
  /*border-radius: 8px;*/
  /*margin-top: 50px;*/
}

@keyframes enter-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .image-animation {
    animation: enter-animation 0.8s 1;
  }
}

@media(max-width:568px){
  .card-flex-parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1vh;
    align-items: center;
    justify-content: center;
  }
  .scene {
    /*display: inline-block;*/
    width: 70px;
    height: 105px;
  /*   border: 1px solid #CCC;*/
    margin: 20px 6px;
    perspective: 300px;
  }
  
  .card {
   /*position: relative;*/
    /*width: 210px;
    height: 315px;*/
   /* width: 100px;
    height: 315px;*/
    width: 70px;
    height: 105px;
   /* cursor: pointer;*/
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
   /* line-height: 260px;*/
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    /*background: crimson;*/
  }
  
  .card__face--back {
    background: slateblue;
    transform: rotateY(180deg);
    /*top:20px;*/
  }
  
  
  .image{
    width: 70px;
    height: 105px;
    border-radius: 8px;
    /*margin-top: 50px;*/
  }
  
  @keyframes enter-animation {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .image-animation {
      animation: enter-animation 0.8s 1;
    }
  }

}